html {
    scroll-behavior: smooth;
}
h2 {
    margin-top: 0px;
    font-size: 70px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', serif;
    background-color: #061826;
    color:F5F5DC;
}
p {
    color: F5F5DC;
    font-size: 40px;
}
figure {
    margin-top: 0px;
}
figcaption {
    margin-top: 10px;
    margin-bottom: 0px;
}

.title {
    font-size: 120px;
    margin-bottom: 0px;
    align-items: center;

}
.aboutme {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    width: 1080px;
    padding-left: 40px;
    padding-right: 40px;
}
.button {
    margin-top: 5px;
    background-color: 00008B;
    border: none;
    color: F5F5DC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.visible {
    opacity: 1;
}

.content {
    opacity: 0;
    transform: translateY(500px);
    transition: opacity 1s ease, transform 1s ease;
}

.content.visible {
    opacity: 1;
    transform: translateY(0);
}
.personal-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
}
.moved-up {
    position: relative;
    top: -100px;
}
.Picture {
   margin: 60px 80px;
}

.jump:hover {
    transform: translateY(-25px);
}

.jump2:hover {
    transform: translateY(25px);
}

.setblue:hover {
    color:blue;
}

.setgreen:hover {
    color:39FF14;
}


@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.portfolio-content {
    animation: slide-in 5s ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover
    30%;
    background-color: #0471A6;
    margin-bottom: 10px;
    padding: 50px;
}